#trendingVideos {
    margin: auto;
    background-color: #333;
    color: snow;
}

#WeeklyRecipe {
    height: 20rem;
    width: 20rem;
}

#ROW {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
}

