#trendingVideos {
    margin: auto;
    background-color: #333;
    color: snow;
}

#WeeklyRecipe {
    height: 20rem;
    width: 20rem;
}

#ROW {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
    height: 28rem;
    background-color: white;
    color: #333
}

.container2{
    background-color: #333;
    height: 30rem;
}

/* Video Player*/
.a_video {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: snow;
    overflow: hidden;
    margin: 5px;
}

.video_container {
    display: flex;
    width: 100%;
    max-width: 420px;
    position: relative;
}
.video_container:hover .controls{
    transform: translateY(0);
}

.video {
    width: 100%;
}

#videos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* 
.controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px;
    transform: translateY(100%) translateY(-5px);
    transition: all 0.3s;
}

.buttons button {
    background: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button:before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 18px;
    color: white; 
} 

.buttons button.play:before {
    content:'\f144';
}

chagne to pause button
.button button.pause:before {
    content:'\f28b';
}

.progress_bar {
    height: 7px;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
}

.red_bar {
    height: 7px;
    background-color: red;
} 

 */
