h1 {
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 27rem;
    justify-content: center;
    background-color: white;
    color: #333;
}

.container_box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 0.1rem solid black;
    min-height: 25%;
    min-width: 25%;
    margin: 15px;

    overflow-y: auto; 
}

.container_item{
    display: flex;
    align-items: center;
    min-height: 2rem;
    width: 80%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid black;
}
.container_item:hover{
    background: rgb(255, 255, 36);
}
.item_text{
}

#steps{
    display: flex;
    flex-flow: row nowrap;

    align-items: center;
    justify-content: space-around;

    align-self: center;

    border: 0.1rem solid white;
    min-height: 15rem;
    max-width: 80%;
    min-width: 80%;
    margin: 15px;
    color: white;
}
.media_zone{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;

    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.514);
}
.media_zone img{
    width: 90%;
    height: 90%;

    border-radius: 1rem;

}
.body_zone{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    width: 40%;
    min-height: 30%;
    background-color: rgba(0, 0, 0, 0.514);

}
.body_text{
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    min-height: 10rem;
    max-width: 80%;

    font-size: 1.1rem;
}
.body_nav{
    display: flex;
    align-items: center;
    justify-content: center;

}

#comments{
    display: flex;
    align-self: center;
    border: 0.1rem solid black;
    height: 40%;
    width: 80%;
    margin: 15px;
    color: black;
}

#top {
    display: flex;
    flex-direction: column;
}

.container2 {
    display: flex;
    flex-direction: column;
    min-height: 25rem;
    background-color: #333;
    color: white;

}
.container3 {
    display: flex;
    flex-direction: column;
    height: 25rem;
    background-color: white;
    color: #333;
}

.substitutes{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    position: absolute;
    
    width: 10rem;    
    min-height: 6rem;
    
    background-color: #333;   
    color: white;
    border-radius: 0.5rem;

    overflow-x: hidden;
}
.substitutes_title{
    text-align: center;
    width: 100%;
    margin-bottom: 0.3rem;

    border-bottom: solid white 0.1rem;
}
.substitute_item{
    width: 100%;
    margin-left:2rem;
}
.substitute_item:hover{
    background-color: white;
    color:rgb(0, 0, 0);
}

.disabled{
    display:none;
}