.btn {
    width: 5rem;
}

.container {
    display: flex;
    align-self: center;
    flex-direction: column;
    height: 30rem;
    background-color: #333;
}

#results_div {
    display: flex;
    align-self: center;
    height: 16rem;
    border: .1px solid black;
    width: 80%;
}

.results_container {
    display: flex;
    align-self: center;
    flex-direction: column;
    min-height: 30rem;
    background-color: #333;
}
#result{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    /* justify-content: center; */
    background-color: snow;
    min-height: 16rem;
}
.individual_result{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
}
.media{
    margin: 1rem;
}
.description{
    margin: 1rem;
}
.recipe_title{
    font-size: 1.5rem;
}